# Ignore Python cache files in the main folder and SafePrint folder
/main/__pycache__/
/main/migrations/__pycache__/
/SafePrint/__pycache__/

# Ignore compiled Python files
*.pyc
*.pyo

# Ignore virtual environment folders
venv/
env/

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore upload directories
/media/

# Ignore database files
*.sqlite3

# Ignore environment files
.env

# Ignore pyc files in the main folder and SafePrint folders
/main/*.pyc
/SafePrint/*.pyc

# Ignore everything in logs except the folder itself
/logs/*
!/logs/