[Unit]
Description=Configure Tailscale as exit node
After=network.target tailscaled.service
Wants=tailscaled.service

[Service]
Type=oneshot
ExecStart=/home/safeprint/dev/SafePrint/unix/tailscale-startup.sh
RemainAfterExit=yes
User=root

[Install]
WantedBy=multi-user.target
