{% extends "layout.html" %}
{% load static %}

{% block title %}
SafePrint
{% endblock %}

{% block content %}
<div class="confirmation">
    <div class="confirmation-wrapper">
        <div class="confirmation-title">Thank you! Please approach to our personnel for payment.</div>
        <div class="confirmation-subtitle">Please provide your Customer ID to our personnel</div>
    </div>

    <div class="customer-id">
        <span class="customer-id-label">Customer ID</span>
        <span class="customer-id-value">#CID-4405</span>
    </div>
    <button class="proceed-btn">Finish Transaction</button>
</div>

{% endblock %}