{% extends "layout.html" %}
{% load static %}

{% block title %}
SafePrint
{% endblock %}

{% block content %}
<div class="file-upload">
    <div class="file-upload-title">File Upload</div>
    <div class="file-upload-subtitle">Add your documents here.</div>
    <div class="upload-area">
        <div class="drag-area">
            <img src="{% static 'assets/upload_icon.svg' %}" alt="Upload Icon">
            <p>Drag your file(s)</p>
            <p>Upload in PDF format</p>
        </div>
        <div class="or-divider">
            <span class="line"></span>
            <span>OR</span>
            <span class="line"></span>
        </div>
        <div class="browse-area">
            <span class="browse-text">Upload from Files</span>
            <button class="browse-btn">Browse Files</button>
        </div>
    </div>
</div>
{% endblock %}