{% extends "layout.html" %}
{% load static %}

{% block title %}
SafePrint
{% endblock %}

{% block content %}
<div class="file-upload">
    <div class="file-upload-title">File Upload</div>
    <div class="file-upload-subtitle">Add your documents here.</div>
    <div class="upload-area">
        <div class="drag-area">
            <img src="{% static 'assets/upload_icon.svg' %}" alt="Upload Icon">
            <p>Drag your file(s)</p>
            <p>Upload in PDF format</p>
        </div>
        <div class="or-divider">
            <span class="line"></span>
            <span>OR</span>
            <span class="line"></span>
        </div>
        <div class="browse-area">
            <span class="browse-text">Upload from Files</span>
            <button class="browse-btn">Browse Files</button>
        </div>
    </div>
</div>

<div class="help-section">
    <h2 class="help-title">Need help?</h2>
    <p class="help-text">
        We're here to assist you in ensuring a seamless and secure printing experience. 
        <br> Follow the steps below to submit your documents and understand our procedures.
    </p>
</div>

<div class="card-container">
    <div class="card">
        <div class="card-text">
            <h3 class="card-title">Drag and Drop</h3>
            <h3 class="card-title">Uploading</h3>
            <p class="card-description">Easily upload your files by dragging and dropping them into the designated area on our platform.</p>
        </div>
        <img src="{% static 'assets/drag-n-drop.svg' %}" alt="Drag and Drop Icon" class="card-icon">
    </div>
    <div class="card">
        <div class="card-text">
            <h3 class="card-title">Browse Files to</h3>
            <h3 class="card-title">Upload</h3>
            <p class="card-description">Select your document from your computer or mobile device. Ensure the file format is supported.</p>
        </div>
        <img src="{% static 'assets/browse.svg' %}" alt="Browse Icon" class="card-icon">
    </div>
    <div class="card">
        <div class="card-text">
            <h3 class="card-title">Print</h3>
            <h3 class="card-title">Preference</h3>
            <p class="card-description">Choose black or colored, what specific pages and what paper size suits your requirements.</p>
        </div>
        <img src="{% static 'assets/print-preference.svg' %}" alt="Print Preference Icon" class="card-icon">
    </div>
    <div class="card">
        <div class="card-text">
            <h3 class="card-title">Give to our team</h3>
            <h3 class="card-title">your Customer ID</h3>
            <p class="card-description">Your Customer ID will be our guide to find your documents in our system and for our personnel to verify and queue the documents for printing.</p>
        </div>
        <img src="{% static 'assets/customer-id.svg' %}" alt="Customer ID Icon" class="card-icon">
    </div>
    <div class="card">
        <div class="card-text">
            <h3 class="card-title">Payment</h3>
            <h3 class="card-title">Process</h3>
            <p class="card-description">After submitting your document, please proceed to the counter to complete the payment. Our printing personnel will then authorize and initiate the printing of your document.</p>
        </div>
        <img src="{% static 'assets/payment.svg' %}" alt="Payment Icon" class="card-icon">
    </div>
    <div class="card">
        <div class="card-text">
            <h3 class="card-title">In case</h3>
            <h3 class="card-title">error occurs</h3>
            <p class="card-description">If you encounter any issues during the submission or printing process, our personnel may request you to resend the document to ensure optimal print quality.</p>
        </div>
        <img src="{% static 'assets/error-occur.svg' %}" alt="Error Occur Icon" class="card-icon">
    </div>
</div>
{% endblock %}