{% extends "layout.html" %}
{% load static %}

{% block title %}
Feedback
{% endblock %}

{% block content %}
<div class="thank-container">
    <div class="thank-header">Thank you!!</div>
    <div class="thank-subtext">
      We appreciate your input and will carefully consider it moving forward.
    </div>
    <div class="thank-illustration">
      <img src="{% static 'assets/thank.png' %}" alt="Thank You Illustration" class="thank-img"/>
    </div>
    <a href="index.html" class="home-btn">Return to Homepage</a>
</div>
{% endblock %}